@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');


*{
    padding: 0;
    margin: 0;
}
.body{
    background: url("../img/bg.jpg");
    min-height: 100vh;
    background-size: 220vh 50vw;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#board{
    background: linear-gradient(rgb(170,236,170), rgb(236,236,167));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18,1fr);
}

.head{
    
   
    border-radius: 18px;
    transform: scale(1.3);
    background-image: url(../img/snakeHead.png);
    background-size: 35px;
    background-repeat: no-repeat;
}
.snake{
    background-color: rgb(0, 211, 35);
    border: .45vmin solid rgb(0, 255, 106);
    border-radius: 15px;
    background-repeat: no-repeat;
}

.food{
    background-color:  linear-gradient(rgb(170,236,170), rgb(236,236,167));
   
    /* border: .25vmin solid black; */
    border-radius: 12px;
    background-image: url("../img/worm.png");
    background-size: 34px;
    background-position-y: center;
    background-position-x: center;
    
}

#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Kirang Haerang', cursive;

}

#hiscoreBox{
    position: absolute;
    top: 45px;
    right: 179px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Kirang Haerang', cursive;
}
